body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Josefin Sans', sans-serif;
}
section.banner {
    height: 80vh;
    background-image: linear-gradient(rgb(12 12 12 / 33%), rgb(16 13 13 / 93%)), url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 25px 0px
}
.banner-description {
    text-align: center;
    margin-top: 65px;
}

.banner-description h1 {
    font-size: 65px;
    color: #fff;
}

.banner-description p {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 45px;
}

.button-style {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    background: #FF5959;
    padding: 15px 20px;
    border-radius: 5px;
}
.flex-container{
    display: flex;
}
.flex-item{
    width: 50%;
    margin: 0px 1%;
}
section.donate-ammount {
    padding: 70px 0px;
}

.title-short-description {
    text-align: center;
    margin-bottom: 50px;
}

.title-short-description h1 {
    font-size: 45px;
    color: #121212;
    margin: 0px;
}

.title-short-description p {
    font-size: 18px;
    color: #707070;
    font-weight: 500;
}

.donate-amount-wrapper {
    width: 800px;
    margin: auto;
}
.donate-box {
    background: #f3f3f3;
    padding: 20px;
    margin: 0px 10px;
    border-radius: 5px;
}

.donate-box h1 {
    font-size: 30px;
    font-weight: 800;
    color: #707070;
}
#active-box {
    border: 2px solid #FF5959;
    background: #FFEEEE;
}

#active-box h1 {
    color: #FF5959;
}
.donet-fild {
    text-align: center;
    margin-top: 55px;
}

.donet-fild hr {
    width: 57%;
}

.donet-fild input {
    border: none;
    font-size: 16px;
    padding: 8px 30px;
    color: #B3B3B3;
}
section.our-plan {
    padding: 70px 0px;
}
.plan-box{
    padding: 30px;
    border-radius: 5px;
}
#first-plan-box {
    background: #EDF5F6;
}
div#second-plan-box {
    background: #FFEEEE;
}

div#third-plan-box {
    background: #FFF4D6;
}
.gallery-item img{
    width: 100%;
    height: 90%;
}
section.our-gallery {
    padding: 60px 0px;
}
.subscribe-form {
    text-align: center;
    padding: 50px 0px;
    background: #FFF4D6;
    width: 50%;
    margin: auto;
    border-radius: 8px;
}

.subscribe-form input {
    width: 35%;
    padding: 10px 20px;
    border-radius: 5px 0px 0px 5px;
    font-size: 16px;
    border: 2px solid #ddd;
    background: #D9D9D9;
}
#subscribe {
    padding: 12px 25px;
    margin-left: -10px;
    font-size: 16px;
    border-radius: 0px 5px 5px 0px;
}
section.get-update {
    padding: 30px 0px;
}
.footer-description {
    text-align: center;
}

footer {
    padding: 30px 0px;
    margin-top: 40px;
    background: black;
}

.footer-description h1 {
    font-family: 'Lobster', cursive;
    color: #FF5959;
    font-size: 36px;
}

.footer-description p {
    color: #D9DBE1;
}
.donate-box button {
    border: none;
    background: none;
}